.card-status {
  height: 31px !important;
  width: 60px !important;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #F74B81;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 11px;
  font-weight: 400;
}
.small-gray-text {
  font-size: 15px;
  color: #adadad;
  font-family: "Lato", sans-serif;
}
.card-size{
  height: 400px;
  width: 233px;
}

.card-heading-text {
  font-size: 16px;
  color: #253D4E;
  /* font-family: "Quicksand", sans-serif; */
}


.deals-card-size{
width: 298px;
height: 263px;
}
